.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: rgb(255, 215, 0);
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: rgb(255, 215, 0);
    stroke-width: 2px;
    stroke-linecap: round;
}

body {
    overflow: hidden;
}
